<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProfile name="local">
    <include resource="logback/logback-console.xml"/>
    <include resource="logback/logback-discord.xml"/>
    <logger level="DEBUG" name="com.everyonewaiter"/>

    <root level="INFO">
      <appender-ref ref="ASYNC_DISCORD"/>
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

  <springProfile name="test">
    <include resource="logback/logback-console.xml"/>
    <logger level="DEBUG" name="com.everyonewaiter"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
  <springProfile name="dev">
    <include resource="logback/logback-discord.xml"/>
    <include resource="logback/logback-file.xml"/>

    <logger level="DEBUG" name="com.everyonewaiter">
      <appender-ref ref="FILE_DEBUG"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="ASYNC_DISCORD"/>
      <appender-ref ref="FILE_INFO"/>
      <appender-ref ref="FILE_WARN"/>
      <appender-ref ref="FILE_ERROR"/>
    </root>
  </springProfile>
  <springProfile name="prod">
    <include resource="logback/logback-discord.xml"/>
    <include resource="logback/logback-file.xml"/>

    <logger level="DEBUG" name="com.everyonewaiter.adapter.integration.notification">
      <appender-ref ref="FILE_DEBUG"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="ASYNC_DISCORD"/>
      <appender-ref ref="FILE_INFO"/>
      <appender-ref ref="FILE_WARN"/>
      <appender-ref ref="FILE_ERROR"/>
    </root>
  </springProfile>
  <springProperty name="PROJECT_ROOT" scope="context" source="user.dir"/>
</configuration>
